{% extends "base.html" %}

{% block content %}
{% if user and user.secret %}
<div class="container">
      <div class="row">

        <div class="col-sm">
            <form method="post" action="/result">
                <div class="form-group">
                    <input onblur="this.focus()" autofocus type="text" name="guess"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your guess">
                    <small id="emailHelp" class="form-text text-muted">Please enter your guess</small>
                    <br>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <div class="col-sm">
                    <table class="table table-sm table-dark">
                      <caption>Top 5 players</caption>
                        <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Name</th>
                          <th scope="col">Attempts</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry the Bird</td>
                          <td>Thornton</td>
                        </tr>
                        <tr>
                          <th scope="row">4</th>
                          <td>Larry the Bird</td>
                          <td>Thornton</td>
                        </tr>
                        <tr>
                          <th scope="row">5</th>
                          <td>Larry the Bird</td>
                          <td>Thornton</td>
                        </tr>
                      </tbody>
                    </table>
            </div>
        </div>
      </div>

</div>
    {% else %}
<div class="container">
  <div class="row">
    <div class="col-sm">

    <h2>Welcome to GUESS THE SECRET NUMBER!</h2>
        <form method="post" action="/login">
            <div class="form-group">
                <input onblur="this.focus()" autofocus type="text" name="user-name"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name">
                <small id="emailHelp" class="form-text text-muted">Please enter your name</small>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-sm">
            <table class="table table-sm table-dark">
              <caption>Top 5 players</caption>
                <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Name</th>
                  <th scope="col">Attempts</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry the Bird</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Larry the Bird</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Larry the Bird</td>
                  <td>Thornton</td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}