{% extends "base.html" %}

{% block content %}

<div class="container">
      <div class="row">
        <div class="col-sm">
                <table class="table table-sm table-dark">
                  <caption>Top 5 players</caption>
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Attempts</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry the Bird</td>
                      <td>Thornton</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Larry the Bird</td>
                      <td>Thornton</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Larry the Bird</td>
                      <td>Thornton</td>
                    </tr>
                  </tbody>
                </table>
        </div>
      </div>
</div>

{% endblock content %}